<form action="/landmarks/<%@landmark.id%>" method="POST">
  <p>Name <input type="text" name="landmark[name]" id="name"></p> </br>
  <p>Year Completed<input type="text" name="landmark[year_completed]" id="year_completed" value=<%=@landmark.year_completed.to_s%>></p> </br>

  <label> Titles </label> </br>
  <% Title.all.each do |t| %>
    <input id="title_<%= t.id %>" type="checkbox" name="figure[title_ids][]" value="title_<%= t.id %>"><%=t.name%></br>
  <% end %>

  <p>Create New Title:</p>

  <input type="text" name="title[name]" id="new_title"> </br>

  </br>
  <label> Figures: </label> </br>
  <% Figure.all.each do |figure| %>
    <input id="figure_<%= figure.id %>" type="checkbox" name="figure[name][]" value="figure_<%= figure.id %>"><%=figure.name%></br>
  <% end %>
  </br>

  <p>Create New Figure:</p>
  <p>Name: <input type="text" name="figure[name]"></p>
  <input type="submit" value="Edit Landmark">
</form>
