<h1>Edit Figure</h1>

<form action="/figures/<%= @figure.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Figure Name:</label>
  <input type="text" name="figure[name]" value="<%figure.name%>"id="figure_name">
  <label>Edit Landmarks:</label>

  <% Landmark.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="<%=landmark.id%>"><%=landmark.name%></input>
  <%end%>
  <label>Add Landmark:</label
  <input type="text" id="new_landmark" name="landmark[name]">
  <label>Edit Titles:</label>

  <% Title.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="<%=title.id%>"><%=title.name%></input>
  <%end%>

  <input type="submit" value="submit">
</form>
